@import url("https://fonts.googleapis.com/css2?family=Prata&display=swap");
@import "~bootstrap/dist/css/bootstrap.min.css";
@import "~@fortawesome/fontawesome-free/css/all.min.css";

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  margin: 0;
}

.body-background {
  background-color: #1995ad;
  background-image: url("./assets/images/zombie-bg05.png"),
    url("./assets/images/zombie-bg02.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 3rem 1rem, right bottom;
  background-size: 200px 300px, 400px 275px;
}
