.form-control {
  max-height: 12rem;
  border: 1px solid black;
  border-radius: 0.3rem;
}

.form-control.story {
  padding: 1rem 2rem;
  min-height: 6.5rem;
  margin: auto;
}

.hm-btn {
  background-color: #1995ad;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  color: white;
  border-radius: 0.3rem;
  border: 1px solid #017371;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0.1rem 1rem 0.1rem;

  &:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.56);
    background-color: #017371;
  }
}

.empty-bite-code,
.empty-kill-story {
  animation: shake 0.9s ease-in-out;
}
@keyframes shake {
  0% {
    transform: translate(0);
  }
  20%,
  40%,
  60%,
  80% {
    transform: translate(0.5rem);
    box-shadow: var(--hover-box-shadow);
  }
  10%,
  30%,
  50% {
    transform: translate(-0.2rem);
  }
  70%,
  100% {
    transform: translate(0);
  }
}
