/* Landing container */
.landing-container {
  background-color: #1995ad;
  background-image: url("../../../assets/images/zombie-bg02.png"),
    url("../../../assets/images/zombie-bg01.png");
  background-repeat: no-repeat, no-repeat;
  background-position: 3rem 5rem, right bottom;
  background-size: 9.2rem 13.5rem, 25rem 17.15rem;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .landing-container {
    background-image: none;
  }
}

/* Landing title */
.title-container {
  margin: 3.5rem auto 1rem auto;
}

.hero-title {
  font-size: 3rem;
  margin: 0;
  line-height: 0.8;
  text-shadow: 4px 4px 5px black;
  letter-spacing: 1vw;
  position: relative;

  &-human {
    color: #9fea4f;
    font-family: "Chewy", cursive;
    padding-top: 0.8rem;
    animation: slideInLeft 2s forwards;
  }

  &-zombie {
    color: red;
    font-family: "Slackey", cursive;
    animation: slideInRight 2s forwards;
  }

  &-vs {
    margin-bottom: 0;
    font-size: 2rem;
    font-style: italic;
    animation: fadeIn 2s forwards;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 4rem;
    margin: 0;
    line-height: 0.8;
    text-shadow: 4px 4px 5px black;
    letter-spacing: 14px;
  }
}
