.linear-gr-bg {
  height: 40px;
  background-color: linear-gradient(
    0deg,
    rgba(23, 76, 74, 1) 0%,
    rgba(0, 0, 0, 1) 100%,
    rgba(0, 212, 255, 1) 100%
  );
}

.hero-container {
  margin-bottom: 4.1rem;
}

.hero-title {
  font-size: 3rem;
  margin: 0;
  line-height: 0.8;
  text-shadow: 4px 4px 5px black;
  letter-spacing: 1vw;

  &-human {
    color: #9fea4f;
    font-family: "Chewy", cursive;
    padding-top: 0.8rem;
  }

  &-zombie {
    color: red;
    font-family: "Slackey", cursive;
  }

  &-vs {
    margin-bottom: 0;
    font-size: 2rem;
    font-style: italic;
  }
}

@media screen and (min-width: 768px) {
  .hero-title {
    font-size: 4rem;
    margin: 0;
    line-height: 0.8;
    text-shadow: 4px 4px 5px black;
    letter-spacing: 14px;
  }
}
