<div class="linear-gr-bg"></div>
<div class="container-fluid pt-5 background">
  <div class="row d-felx justify-content-center">
    <div class="col-sm-10 col-md-10 col-xl-8">
      <div class="hm-card mb-3 mb-md-2">
        <div class="card-body">
          <p class="hm-card-title">What is Humans vs. Zombies?</p>

          <p class="game-description">
            Humans vs. Zombies (also called HvZ for short) is a live-action game
            predominantly played at US college campuses. The storyline of the
            game dictates that players begin as humans and try to survive a
            zombie invasion. The ultimate goal of the game is for either all
            humans to be turned into zombies, or for the humans to survive a set
            amount of time.
          </p>

          <p class="game-rules">
            Players can join or leave the game during the registration period.
            Once the game starts, players will be notified whether they are or
            are not the "patient zero". When a zombie bites a human, the human
            must show their bite code to the zombie so they can register the
            bite. The bitten human then turns into a zombie. The game ends when
            there is only one human left, who is the winner of the game. You can
            also chat with other players during the game. The global channel is
            available to all players, while the human/zombie channels can only
            be accessed by players with the corresponding state.
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
