<div class="player-list-container p-2">
  <nav id="navbar-example2" class="player-list-navbar">
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="selectedTab = 'global'"
          [class.active]="selectedTab === 'global'"
          >Global</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="selectedTab = 'human'"
          [class.active]="selectedTab === 'human'"
          >Human</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link"
          (click)="selectedTab = 'zombie'"
          [class.active]="selectedTab === 'zombie'"
          >Zombie</a
        >
      </li>
    </ul>
  </nav>

  <div
    data-bs-spy="scroll"
    data-bs-target="#navbar-example2"
    data-bs-offset="0"
    class="scrollspy-example"
    tabindex="0"
  >
    <div class="player-list-container p-2" *ngIf="selectedTab === 'global'">
      <p *ngFor="let player of players" class="mb-1">
        <span class="fw-bold">
          {{ player.username }}
          <span *ngIf="player.isHuman">
            <i class="fa-regular fa-face-smile"></i
          ></span>
          <span *ngIf="!player.isHuman">
            <i class="fa-solid fa-skull"></i
          ></span>
        </span>
      </p>
    </div>

    <div class="player-list-container p-2" *ngIf="selectedTab === 'human'">
      <p *ngFor="let human of humans" class="mb-1">
        <span class="fw-bold"> {{ human.username }} </span>
        <i class="fa-regular fa-face-smile"></i>
      </p>
    </div>

    <div class="player-list-container p-2" *ngIf="selectedTab === 'zombie'">
      <p *ngFor="let zombie of zombies" class="mb-1">
        <span class="fw-bold"> {{ zombie.username }} </span>
        <i class="fa-solid fa-skull"></i>
      </p>
    </div>
  </div>
</div>
