<div class="game-info">
  <p [ngClass]="setCurrentClasses(game)">{{ game?.state }}</p>
  <p class="card-text">
    <span class="fw-bold">Number of Players:</span>
    {{ game?.players ? game?.players?.length : "0" }}
  </p>
  <p class="card-text"><span class="fw-bold">Player:</span> {{ username }}</p>
  <p
    *ngIf="player && player.isHuman && game && game.state == 'In Progress'"
    class="card-text human-badge"
  >
    HUMAN &nbsp;<i class="fa-regular fa-face-smile"></i>
  </p>
  <p
    *ngIf="player && !player.isHuman && game && game.state == 'In Progress'"
    class="card-text zombie-badge"
  >
    ZOMBIE &nbsp;<i class="fa-solid fa-skull"></i>
  </p>
  <p class="card-text">
    Players can Join or Leave the Game in the Registration period. Once the Game
    starts, Players will be notified whether they are or they are not the
    Patient Zero. When a Zombie bites a Human, the Human must show their bite
    code to the Zombie so they can register the bite. The bitten Human then
    turns into a Zombie. The Game ends when there is only one Human left, who is
    the winner of the game. You can chat with other Players during the game. The
    Global channel is available to all Players, while the Human/Zombie channels
    can only be accessed by Players with the corresponding state.
  </p>
  <a
    *ngIf="game?.state === 'Registration' && !player"
    (click)="joinGame()"
    class="btn btn-success d-block"
    >Join game</a
  >
  <a
    *ngIf="game?.state === 'Registration' && player"
    (click)="leaveGame()"
    class="btn btn-danger d-block"
    >Leave game</a
  >
</div>
