<div class="game-description-container">
  <div class="player-info">
    <p class="card-text">Player: {{ username }}</p>
    <p class="card-text">
      Number of Players:
      {{ game?.players ? game?.players?.length : "0" }}
    </p>
  </div>
  <app-player-chart
    [players]="players"
    [humans]="humans"
    [zombies]="zombies"
  ></app-player-chart>
  <a *ngIf="!player" (click)="joinGame()" class="hm-btn">Join game</a>
  <a *ngIf="player" (click)="leaveGame()" class="hm-btn">Leave game</a>
</div>
