<nav class="navbar fixed-top" [class.nav-sticky]="navbarSticky">
  <div class="container-fluid">
    <a class="navbar-brand" href="#"
      ><img
        class="logo-img"
        src="../../../assets/images/logo01_transparent.png"
        alt=""
    /></a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#offcanvasNavbar"
      aria-controls="offcanvasNavbar"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div
      class="offcanvas offcanvas-end"
      tabindex="-1"
      id="offcanvasNavbar"
      aria-labelledby="offcanvasNavbarLabel"
    >
      <div class="offcanvas-header">
        <h5 *ngIf="username" class="offcanvas-title" id="offcanvasNavbarLabel">
          Hi {{ username }}!<i class="fa-solid fa-headset"></i>
        </h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="offcanvas"
          aria-label="Close"
        ></button>
      </div>
      <div class="offcanvas-body">
        <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"
              >Home<i class="fa-solid fa-house"></i
            ></a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/about"
              >About<i class="fa-solid fa-book"></i
            ></a>
          </li>
          <li *ngIf="!isLoggedIn" class="nav-item active">
            <a style="cursor: pointer" class="nav-link" (click)="handleLogin()"
              >Login<i class="fa-solid fa-right-to-bracket"></i
            ></a>
          </li>
          <li *ngIf="isLoggedIn" class="nav-item">
            <a style="cursor: pointer" class="nav-link" (click)="handleLogout()"
              >Logout<i class="fa-solid fa-right-from-bracket"></i
            ></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>
