<div class="game-details-container container-fluid pt-5 background">
  <div class="hm-card mb-3 mb-md-2">
    <div class="card-body">
      <h4 class="hm-card-title">
        {{game?.name | uppercase}}
        <span [ngClass]="setCurrentClasses(game)"
          >{{ game?.state | uppercase }}</span
        >
      </h4>

      <!-- Map segment-->
      <div class="map my-5">
        <app-map [game]="game"></app-map>
      </div>

      <!-- Game description segment-->
      <!--<app-game-description
        [game]="game"
        [username]="username"
        [player]="player"
      ></app-game-description> -->

      <!-- Toast notification -->
      <app-toast-notification [messageType]="messageTyp" [username]="username">
        ></app-toast-notification
      >

      <div
        class="register-container"
        *ngIf="player && !player.isHuman && game && game.state=='In Progress' "
      >
        <!-- Kill registration -->
        <app-kill-registration
          [game]="game"
          [player]="player"
          (messageTypeChange)="setNotification($event)"
        >
          ></app-kill-registration
        >

        <!-- Player chart segment -->
        <app-player-chart
          [players]="players"
          [humans]="humans"
          [zombies]="zombies"
        ></app-player-chart>

        <!-- Chat segment -->
        <app-chat [game]="game" [player]="player"></app-chat>
      </div>

      <button class="hm-btn back" routerLink="">Back to list</button>
    </div>
  </div>
</div>
