.game-details-container {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.hm-card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  text-align: left;
  max-width: 80rem;
  padding: 2rem;
  margin: 2rem auto;
  box-shadow: 0px 0px 16px rgba(0, 0, 0, 0.78);
  background-color: #c4dfe6;
  border-radius: 0.3rem;
}

.hm-btn,
.hm-btn[routerLink] {
  background-color: #1995ad;
  padding: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  border: none;
  outline: none;
  color: white;
  border-radius: 0.3rem;
  border: 1px solid #017371;
  text-decoration: none;
  cursor: pointer;
  margin: 0 0.1rem 1rem 0.5rem;

  &:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.56);
    background-color: #017371;
  }
}

.hm-card-title {
  text-align: left;
  font-size: 1.8rem;
  margin: -1rem 0 -3rem;
  font-family: "Caveat Brush", cursive;
}

.game-state {
  position: absolute;
  border: 1px solid black;
  margin: 0.2rem auto -2rem 0.5rem;
  color: white;
  border-radius: 0.3rem;
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.1rem;
  font-size: 1.2rem;
}

.game-state-reg {
  background-color: #ffa500;
}

.game-state-in-prog {
  background-color: #3498db;
}

.game-state-compl {
  background-color: #464646;
  color: white;
}

.hm-card-text:last-child {
  margin-bottom: 0;
}

.register-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: -2.8rem;
}

.hm-btn.back {
  position: relative;
  top: -2.2rem;
}

.delete-game-btn {
  cursor: pointer;

  &:hover {
    color: red;
  }
}
