*,
*::before,
*::after {
  box-sizing: border-box;
}

.delete-game-btn {
  cursor: pointer;

  &:hover {
    color: red;
  }
}

.title-container {
  min-height: 9rem;
  background: linear-gradient(
    0deg,
    rgba(9, 90, 100, 0) 0%,
    rgba(9, 90, 100, 0.75) 44%,
    rgba(9, 90, 100, 1) 100%
  );
}

.hm-bg-color {
  background-color: transparent;
}

.title-line {
  color: white;
  font-family: "Amatic SC", cursive;
  font-weight: bold;
  font-size: 11vw;

  @media screen and (min-width: 768px) {
    font-size: 5rem;
  }
}

.hm-card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  text-align: left;
  padding: 1rem;
  box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.15);
  background-color: #3ded97;
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    box-shadow: none;
    transition: box-shadow 0.3s ease;
  }

  &:hover {
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.78);
  }
}

.hm-btn {
  background-color: #30a09c;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;

  &:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.56);
  }
}

.hm-card-body {
  flex: 1 1 auto;
  padding: 1rem;
}

.hm-card-title {
  text-align: left;
  margin-bottom: 1rem;
  font-family: "Caveat Brush", cursive;
}

.game-name {
  font-size: 2.2rem;
  line-height: 1;

  @media screen and (min-width: 768px) {
    font-size: 3vw;
  }

  @media screen and (min-width: 992px) {
    font-size: 2vw;
  }
}

.hm-card-text:last-child {
  margin-bottom: 0;
}

.game-state {
  border: 2px solid black;
  border-radius: 5px;
  width: auto;
  padding: 1px 3px;

  &.game-state-reg {
    background-color: #339162;
  }

  &.game-state-in-prog {
    background-color: rgb(201, 49, 49);
  }

  &.game-state-compl {
    background-color: #464646;
    color: white;
  }
}
