<div class="container-fluid px-5 background game-list-container">
  <div class="row">
    <div class="hm-btn-container">
      <button
        *ngIf="isUserAdmin"
        class="hm-btn game-form-toggle"
        [class.visible]="gameFormVisible"
        (click)="openGameForm()"
      >
        New Game
      </button>
    </div>
    <div
      *ngIf="isUserAdmin"
      class="col-sm-6 col-md-4 col-lg-3 game-form-container"
      [class.visible]="gameFormVisible"
    >
      <div class="hm-card col-10 mb-2">
        <div class="card-body">
          <h5 class="card-title mb-1" [formGroup]="gameForm">
            <input
              formControlName="name"
              type="text"
              class="form-control form-control-sm"
              id="game-name-input"
              placeholder="Enter name..."
            />
            <input
              formControlName="location"
              type="text"
              class="form-control form-control-sm"
              id="game-location-input"
              placeholder="Enter location..."
              ngx-google-places-autocomplete
              [options]="options"
              #placesRef="ngx-places"
              (onAddressChange)="handleAddressChange($event)"
            />
          </h5>
          <p class="game-state game-state-reg">Registration</p>
          <p class="card-text">Number of Players: 0</p>
          <button
            class="hm-btn me-2"
            [disabled]="gameForm.invalid"
            (click)="createGame()"
          >
            Create
          </button>
          <a class="btn btn-light text-dark" (click)="closeGameForm()"
            >Cancel</a
          >
        </div>
      </div>
    </div>

    <ng-container *ngFor="let game of games">
      <div class="col-sm-6 col-md-4 col-lg-3">
        <app-game-card
          [game]="game"
          [isUserAdmin]="isUserAdmin"
          (deleteGameEvent)="deleteGame($event)"
        ></app-game-card>
      </div>
    </ng-container>
  </div>
</div>
