.game-list-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.game-form-toggle {
  visibility: visible;
  opacity: 1;
  position: absolute;
}

.game-form-toggle.visible,
.game-form-container {
  visibility: hidden;
  opacity: 0;
}

.game-form-container.visible {
  visibility: visible;
  opacity: 1;
}

.hm-card {
  position: relative;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  background-clip: border-box;
  text-align: left;
  padding: 1rem;
  box-shadow: 0px 0px 32px rgba(0, 0, 0);
  background-color: #c4dfe6;
  border-radius: 10px;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 0px 32px rgba(0, 0, 0, 0.78);
  }
}

.hm-btn-container {
  margin-top: 3rem;
  position: relative;
}

.hm-btn {
  background-color: #30a09c;
  text-decoration: none;
  color: white;
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.56);
  }
}

.game-state {
  border: 2px solid black;
  border-radius: 5px;
  width: auto;
  padding: 1px 3px;

  &.game-state-reg {
    background-color: #2ecc71;
  }

  &.game-state-in-prog {
    background-color: #3498db;
  }

  &.game-state-compl {
    background-color: #464646;
    color: white;
  }
}
